.infoControl {
    display: inline-block;
    max-width: 250px;
    background-color: white;
    opacity: 0.9;
    margin : 5px;
    padding: 7px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.commune-name {
    color: #035c56 !important;;
    font-weight: bold;
    font-size: 20px;
}

.welcome-message {
    color:#035c56;
    font-weight: bold;
    font-size: 20px;
}

.info-message {
    /*color:#035c56;*/
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.referent-presence {
    font-weight: bold;
    color: black;
}

.presence-arrete {
    font-weight: bold;
    color: black;
}

p {
    font-weight: bold;
    color: black;
}

.departement-name {
    color : black;
    font-size: 14px;
    padding-bottom: 7px;
    font-weight: bold;
}

.impact-sanitaire {
    color : #000000;
    font-weight: bold;
    font-size: 12px;
}

.presence-arrete {
    color : #000000;
    font-weight: bold;
    font-size: 12px;
}

.referent-presence {
    color : #000000;
    font-weight: bold;
    font-size: 12px;
}

.info-mairie {
    color : #000000;
    font-weight: bold;
    font-size: 12px;
}

.pastille-risque-pollen {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 1px #666;
    vertical-align: text-top;
}

.legend-title {
    color : #5f7375;
    font-size: 14px;
    padding-bottom: 7px;
}

.legend {
    line-height: 25px;
    width: 15em;
    color: #555;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 3px;
    margin-left: 3px;
    opacity: 0.7;
}
