.container-legende {
    background-color : rgba(255, 255, 255, 0.8);
    border-radius : 10px;
    margin : 0;
    display:  block;
    width : 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h1{
    font-size: 20px;
}

.icone-signalement {
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    color: black;
    line-height: 21px;
}

.icone-signalement-histo {
    background-color: rgb(245, 245, 245);
    border: solid 1px grey;
    border-radius: 50%;
    font-weight: 400;
    font-size: 16px;
    color: lightgrey!important;
    line-height: 21px;
}

.icone-cluster {
    background-color: white;
    border: solid 1px black;
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 26px;
}
.icone-cluster-histo {
    background-color: white;
    border: solid 1px grey;
    font-weight: bold;
    font-size: 18px;
    color: lightgrey!important;
    line-height: 26px;
}